{% extends "layout.html" %}

{% block content%}
<div class="card" style="width: 18rem;">
    <img src="{{ url_for('static', filename='student.jpeg') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">student</h5>
      <p class="card-text">Check your attendance</p>
      <a href="{{url_for('s3425')}}" class="btn btn-primary">3425</a>
      <a href="{{url_for('student')}}" class="btn btn-primary">4738</a>
      <a href="{{url_for('s4884')}}" class="btn btn-primary">4884</a>
      <a href="{{url_for('s7734')}}" class="btn btn-primary">7734</a>
      <a href="{{url_for('s9201')}}" class="btn btn-primary">9201</a>
      <a href="{{url_for('s1001')}}" class="btn btn-primary">1001</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{{ url_for('static', filename='prof.jpeg') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">professor</h5>
      <p class="card-text">check and update your attendance</p>
      <a href="{{url_for('professor')}}" class="btn btn-primary">Click</a>
    </div>
  </div>
  <!-- <div class="card" style="width: 18rem;">
    <img src="{{ url_for('static', filename='admin.jpeg') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">admin</h5>
      <p class="card-text">Do you admin stuff</p>
      <a href="{{url_for('admin')}}" class="btn btn-primary">Click</a>
    </div>
  </div> -->
{% endblock%}