<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>
    <!-- Link to your CSS file -->
    <!-- link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" -->
</head>
<body>
    <header>
        <h1>Welcome to the Student Portal, {{name}}</h1>
    </header>
    <main>
        <section>
            <h2>Your Attendances</h2>
            <ul>
                {% for a in attendances %}
                <li>{{a[0]}} - {{a[1]}}  => {{a[2]}}%</li>
                <!-- Add dynamic content here using Flask -->
                {% endfor %}
            </ul>
        </section>
        <!-- Add more sections as needed -->
    </main>
</body>
</html>
